* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e5e7eb;
}

#root {
  min-height: 100vh;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

header {
  max-width: 900px;
  margin: 25px auto 0;
  background: #9225eb;
  color: white;
  padding: 30px;
  border-radius: 12px 12px 0 0;
  text-align: center;
}

section {
  margin-bottom: 25px;
}

h1, h2, h3 {
  color: #0f172a;
}

header h1 {
  color: white;
  font-size: 36px;
}

p, li {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  padding-left: 20px;
}

button {
  font-weight: bold;
}

footer {
  max-width: 900px !important;
  margin: 20px auto !important;
  border-radius: 12px;
}

@media (max-width: 950px) {
  main,
  header,
  footer {
    width: 95%;
  }
}